body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.full-width-image-1 {
	/*Browser Specific*/
	background: url('../images/3d2.png') no-repeat center center;
	margin-top:100px;
	margin-right: 10px;
	margin-left: 10px;
	opacity: .6;

	background-size: contain;
	text-align: center;
	padding: 120px 20px;
	height: 400px;
}

.full-width-image-2 {
	background: url('../images/DWH-G3-D4-I29.png') no-repeat center center;

	background-size: contain;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding:120px 0;
	height: 400px;
}

.logo-wrapper {
	display: inline-block;

}
.header {
	font-size: 4em;
	font-weight: 300; 
	opacity:1.0;
}


.section {
	padding-top: 75px;
	padding-bottom: 75px;
}

.section-heading {
	font-size: 3em;
	font-weight: 400;
	margin: 30px 0;
}

.section-lead {
	margin: 30px 0;
}

.section-paragraph {
	margin: 30px 0;
}

footer {
	margin: 50px 0;
}

@media (max-width: 768px) {

.section-heading {
	font-size: 2em;
}

.section {
	padding-top: 25px;
	padding-bottom: 25px;
}

}